/*
 * Author: Hayk Ghazaryan
 * Email: hayk.ghazaryanc@gmail.com
 */

@import url("base/media-query.scss");

@import url("../common/dev/sections.scss");

@import url("tw-utils/grid.scss");
@import url("tw-utils/extends.scss");

@import url("base/sides.scss");
@import url("base/gap.scss");
@import url("base/typography.scss");
@import url("base/root.scss");
@import url("base/main.scss");

@import url("base/selection.scss");
@import url("base/scroll.scss");
@import url("base/text-gradient.scss");
@import url("base/sprite-icons.scss");
@import url("base/sprite-shapes.scss");

@import url("components/atoms/main.scss");

@tailwind utilities;
@tailwind base;
@tailwind components;

.gap,
.gap-x,
.gap-y {
 @apply transition-[column-gap,row-gap]
								duration-[0.16s,0.16s]
								ease-[linear,linear]
								will-change-[column-gap,row-gap];
}

:root {
 @apply cursor-default
								text-62-5p
								tracking-normal;
}

html,
body {
 @apply bg-gray-425
										font-primary
										font-300;
}

.s-700 {
 // .s-700__fix
 &__fix {
  @apply ~pt-[4.5rem]/[13.6rem]
									~pb-[2.5rem]/[5rem];

  @apply mdxx:pb-[2.5rem]
									mdxx:pt-[4.5rem];
 }
}

.s {
 // .s__t
 &__t {
  @apply heading-v1
							text-white;
 }

 // .s__d
 &__d {
  @apply body-1-1-v1
							text-white/70;
 }
}

.group {
 // .group-700
 &-700 {
  @apply flex
									items-center
									justify-between
									gap-x-[4rem];

  @media (max-width: $lgxx) {
   @apply flex-col
  								items-start
  								justify-start
  								gap-x-0;
  }

  // .group-700 .s
  .s {
   // .group-700 .s__t
   &__t {
    @apply max-w-[41rem]
											~pb-[2rem]/[8rem];

    @apply lgxx:pb-[2rem];
   }

   // .group-700 .s__d
   &__d {
    @apply max-w-[45rem]
											~pb-[2rem]/[8rem];
   }
  }
 }
}

.list-700 {
 @apply gap
								flex;
}

.box-700 {
 @apply rel
								z-[1]
								min-h-[40rem]
								w-full
								max-w-[37rem]
								overflow-hidden
								rounded-[2rem]
								px-[4.01rem]
								pb-[6.201rem]
								pt-[6.01rem];

 // .box-700:hover
 &:hover {
  // .box-700:hover:after
  &:after {
   @apply opacity-100;
  }
 }

 // .box-700:after
 &:after {
  content: "";
  @apply absolute
									inset-0
									z-[-1]
									block
									bg-cover
									bg-no-repeat
									opacity-35;

  @apply transition-[opacity]
									duration-[0.16s]
									ease-[linear]
									will-change-[opacity];

  background-image: svg-load(
   ../../../../../public/assets/svg/gradients/gradient-start.svg
  );
 }

 // .box-700__d
 &__d {
  @apply body-1-1-v2
									pb-[2.5rem]
							text-white;
 }

 // .box-700__svg
 &__svg {
  @apply mb-[4.1rem]
							text-aqua-250;
 }
}

.img-info {
 @apply flex
								gap-x-[1.6rem];

 // .img-info__im
 &__im {
  @apply mt-[0.4rem]
									block
									h-[4.8rem]
									w-[4.8rem]
									shrink-0
									grow-0
									overflow-hidden
									rounded-[50%]
									bg-white/10;
 }

 // .img-info__in
 &__in {
  @apply no-underline;
 }

 // .img-info__in
 &__in {
  // .img-info__in-t
  &-t {
   @apply block
										text-[2rem]
										leading-[3.2rem]
								text-white;
  }

  // .img-info__in-d
  &-d {
   @apply block
										text-[1.6rem]
										leading-[2.4rem]
								text-white/70;
  }
 }
}
