/*
 * Author: Hayk Ghazaryan
 * Email: hayk.ghazaryanc@gmail.com
 */

@import url("base/media-query.scss");

@import url("../common/dev/sections.scss");

@import url("tw-utils/grid.scss");
@import url("tw-utils/extends.scss");

@import url("base/sides.scss");
@import url("base/gap.scss");
@import url("base/typography.scss");
@import url("base/root.scss");
@import url("base/main.scss");

@import url("base/selection.scss");
@import url("base/scroll.scss");
@import url("base/text-gradient.scss");
@import url("base/sprite-icons.scss");
@import url("base/sprite-shapes.scss");

@import url("components/atoms/main.scss");

@tailwind utilities;
@tailwind base;
@tailwind components;

.gap,
.gap-x,
.gap-y {
 @apply transition-[column-gap,row-gap]
								duration-[0.16s,0.16s]
								ease-[linear,linear]
								will-change-[column-gap,row-gap];
}

:root {
 @apply cursor-default
								text-62-5p
								tracking-normal;
}

html,
body {
 @apply bg-gray-425
										font-primary
										font-300;
}

.logo-txt {
 @apply rel
								z-[1];

 // .logo-txt__p1
 &__p1 {
  @apply text-white;
 }
 // .logo-txt__p2
 &__p2 {
  @apply text-aqua-250;
 }
}

.s-1100 {
 // .s-1100__fix
 &__fix {
  @apply pb-[2.9rem];
 }

 // .s-1100__txt
 &__txt {
  @apply ~pt-[1.5rem]/[3rem];
  @apply body-1-1-v1
							text-white/70;
 }

 // .s-1100 .soc-pages
 .soc-pages {
  @apply mr-[-1.5rem];
  @apply ~pt-[1.8rem]/[3.6rem];
 }
}

.grid-1100 {
 @apply flex
								justify-between;

 @media (max-width: $lgxx) {
  @apply flex-col
									items-center;

  // .grid-1100 .s-1100__txt
  .s-1100__txt {
   @apply text-center;
  }

  // .grid-1100 .soc-pages
  .soc-pages {
   @apply mr-0;
  }
 }
}

.soc-pages {
 @apply flex
								items-start
						text-white;
}

.soc-page {
 @apply rel
								z-[1]
								inline-block
								shrink-0
								grow-0
								rounded-[50%]
								p-[1.5rem];

 // .soc-page .icons
 // .soc-page__ic-svg
 // .soc-page__ic
 // .soc-page
 // .soc-page > svg
 .icons,
 &__ic-svg,
 &__ic,
 &,
 > svg {
  @apply transition-[transform]
									duration-[0.16s]
									ease-[linear]
									will-change-[transform];
 }

 // .soc-page:after
 &:after {
  @apply absolute
									bottom-[-0.901rem]
									left-[-0.901rem]
									right-[-0.901rem]
									top-[-0.901rem]
									z-[-1]
									block
									rounded-[50%]
									bg-grad-aqua-r-100
									opacity-0
									shadow-[0px_0px_39px_1px_rgba(0,247,255,1)]
									content-[""];

  @apply transition-[opacity,transform]
									duration-[0.16s,0.16s]
									ease-[linear,linear]
									will-change-[opacity,transform];
 }

 // .soc-page:hover
 &:hover {
  // .soc-page:hover:after
  &:after {
   @apply scale-[0.65]
										opacity-100;
  }

  // .soc-page:hover .icons
  // .soc-page:hover .soc-page__ic
  // .soc-page:hover > svg
  .icons,
  .soc-page__ic,
  > svg {
   @apply scale-[0.8];
  }
 }

 // .soc-page:active
 &:active {
  @apply scale-[0.8];
 }

 // .soc-page__ic
 &__ic {
  filter: brightness(0) saturate(100%) invert(100%) sepia(14%) saturate(3036%)
   hue-rotate(182deg) brightness(111%) contrast(96%);
 }
}

.grid-1000 {
 @apply gap
								grid
								grid-cols-[repeat(12,1fr)];

 grid-template-areas: "it-1 it-1 it-1 it-1 it-1 it-2 it-2 it-2 it-3 it-3 it-4 it-4";

 // .grid-1000__it
 &__it {
  // .grid-1000__it:nth-child(1)
  &:nth-child(1) {
   grid-area: it-1;
   @apply ~pt-[3.6rem]/[7.2rem];
  }

  // .grid-1000__it:nth-child(2)
  &:nth-child(2) {
   grid-area: it-2;
  }

  // .grid-1000__it:nth-child(3)
  &:nth-child(3) {
   grid-area: it-3;
  }

  // .grid-1000__it:nth-child(4)
  &:nth-child(4) {
   grid-area: it-4;
  }

  // .grid-1000__it:nth-child(2)
  // .grid-1000__it:nth-child(3)
  // .grid-1000__it:nth-child(4)
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
   @apply ~pt-[3.65rem]/[7.3rem];
  }
 }

 @media (max-width: $lgx) {
  grid-template-areas:
   "it-2 it-2 it-2 it-2 it-3 it-3 it-3 it-3 it-4 it-4 it-4 it-4"
   "it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1";

  @apply grid-cols-[repeat(12,1fr)];

  // .grid-1000 .grid-1000__it
  .grid-1000__it {
   // .grid-1000 .grid-1000__it:nth-child(1)
   &:nth-child(1) {
    @apply pt-0;

    // .grid-1000 .grid-1000__it:nth-child(1) .s-1000__txt
    // .grid-1000 .grid-1000__it:nth-child(1) .logo
    .s-1000__txt,
    .logo {
     @apply mx-auto
												text-center;
    }
   }
  }
 }

 @media (max-width: $mdxxx) {
  grid-template-areas:
   ". it-2 it-2 it-2 it-2 it-2 it-3 it-3 it-3 it-3 it-3 ."
   ". it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 ."
   ". it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 .";

  // .grid-1000 .grid-1000__it
  .grid-1000__it {
   // .grid-1000 .grid-1000__it:nth-child(4)
   &:nth-child(4) {
    @apply pt-0;
   }
  }
 }

 @media (max-width: calc($sm + 50px)) {
  grid-template-areas:
   ". . . it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2"
   ". . . it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3"
   ". . . it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4"
   "it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1";

  // .grid-1000 .grid-1000__it
  .grid-1000__it {
   // .grid-1000 .grid-1000__it:nth-child(3)
   &:nth-child(3) {
    @apply pt-0;
   }
  }
 }
}

.logo {
 @apply block
								w-full;

 // .logo--2
 &--2 {
  @apply ~max-w-[16.479rem]/[26.479rem];
 }
}

.s-1000 {
 // .s-1000__txt
 &__txt {
  @apply body-1-1-v1
									w-full
									max-w-[31.2rem]
									text-white/70
									~pt-[1.95rem]/[3.9rem]
									~pb-[1.95rem]/[3.9rem];
 }
}

.h4-1000 {
 @apply title-1-4-v1
						text-white;

 // .h4-1000--s-1000
 &--s-1000 {
  @apply pb-[2.502rem];
 }
}

.l-1000 {
 // .l-1000__li
 &__li {
  @apply pb-[1.2rem];
 }

 // .l-1000__a
 &__a {
  @apply link-v1
							text-white/70;
 }

 // .l-1000--s-1000
 &--s-1000 {
  @apply ~pb-[3.6rem]/[7rem]
									mdxxx:pb-[1.65rem];
 }
}

.s-900 {
 // .s-900__fix
 &__fix {
  @apply ~pt-[2.5rem]/[5.01rem]
									~pb-[3.01rem]/[8.01rem];
 }
}

.box-900 {
 @apply rel
								z-[1]
								block
								overflow-hidden
								rounded-[2rem]
								~pt-[2.6rem]/[7.2rem]
								~pr-[4rem]/[10rem]
								~pb-[2.6rem]/[7.2rem]
								~pl-[3.85rem]/[9.7rem];

 // .box-900:after
 &:after {
  @apply absolute
									inset-0
									z-[-1]
									bg-cover
									bg-no-repeat
									content-[""];

  background-image: svg-load(
   ../../../../../public/assets/svg/gradients/gradient-start.svg
  );
 }
}

.s__t {
 @apply heading-v1
						text-white;

 // .s__t--s-500
 &--s-500 {
  @apply max-w-[62.2rem]
									pb-[1.7rem];
 }

 // .s__t--s-700
 &--s-700 {
  @apply max-w-[48rem];

  @media (max-width: $lgx) {
   @apply pb-[3rem]
										text-center;
  }
 }

 // .s__t--s-900
 &--s-900 {
  @apply max-w-[61rem]
									~pb-[1.4rem]/[2.4rem];
 }
}

.s__d {
 @apply body-1-1-v1
						text-white/70;

 // .s__d--s-500
 &--s-500 {
  @apply max-w-[57rem]
									pb-[3.9rem];
 }

 // .s__d--s-700
 &--s-700 {
  @apply max-w-[45rem]
									pb-[2.6rem];

  @media (max-width: $lgx) {
   @apply text-center;
  }
 }

 // .s__d--s-900
 &--s-900 {
  @apply w-full
									max-w-[44.5rem]
									pb-[2rem];
 }
}

.grid-900 {
 @apply flex
								items-center
								justify-between;

 @media (max-width: $lg) {
  @apply flex-col
									items-center
									justify-start
									gap-x-0;
 }
}

.btn {
 @apply btn-v1
								inline-block
								scale-100
								whitespace-nowrap
								rounded-[1rem]
								bg-grad-aqua-l-100
						text-gray-400;

 @apply ~pt-[0.95rem]/[1.9rem]
								~pr-[1.65rem]/[3.3rem]
								~pb-[0.9rem]/[1.8rem]
								~pl-[1.65rem]/[3.3rem];

 @apply transition-[box-shadow,transform]
								duration-[0.16s,0.16s]
								ease-[ease-out,ease-out]
								will-change-[box-shadow,transform];

 // .btn:hover
 &:hover {
  @apply scale-[1.08]
									shadow-[0px_0px_39px_1px_rgba(0,247,255,0.65)];
 }

 // .btn:active
 &:active {
  @apply scale-[1.0];
 }
}

.s-800 {
 // .s-800__fix
 &__fix {
  @apply pb-[3rem]
									pt-[5rem];
 }
}

.grid-800 {
 @apply flex
								items-center
								justify-between;

 @media (max-width: $lg) {
  @apply grid
									grid-cols-[repeat(12,1fr)]
									gap-[4rem];

  grid-template-areas:
   "it-1 it-1 it-1 it-1 it-1 it-1 it-2 it-2 it-2 it-2 it-2 it-2"
   "it-3 it-3 it-3 it-3 it-3 it-3 it-4 it-4 it-4 it-4 it-4 it-4";

  // .grid-800 .logo-it
  .logo-it {
   justify-self: center;
  }
  // .grid-800 .logo-it:nth-child(1)
  .logo-it:nth-child(1) {
   grid-area: it-1;
  }
  // .grid-800 .logo-it:nth-child(2)
  .logo-it:nth-child(2) {
   grid-area: it-2;
  }
  // .grid-800 .logo-it:nth-child(3)
  .logo-it:nth-child(3) {
   grid-area: it-3;
  }
  // .grid-800 .logo-it:nth-child(4)
  .logo-it:nth-child(4) {
   grid-area: it-4;
  }
 }

 @media (max-width: $mdx) {
  @apply flex
									flex-col
									items-center
									justify-center;
 }
}

.logo-it {
 @apply h-auto
								w-full
								translate-y-[0]
								scale-[1]
								select-none
								opacity-30;

 @apply transition-[filter,opacity,transform]
								duration-[0.16s,0.16s,0.16s]
								ease-[ease-out,ease-out,ease-out]
								will-change-[filter,opacity,transform];

 // .logo-it:hover
 &:hover {
  @apply translate-y-[-10%]
									scale-[1.15]
									opacity-[100];

  filter: brightness(0) saturate(100%) invert(72%) sepia(18%) saturate(2709%)
   hue-rotate(137deg) brightness(103%) contrast(111%)
   drop-shadow(0 0 39px rgb(0, 245, 255));
 }

 // .logo-it--airbnb
 &--airbnb {
  @apply w-[19.221rem];
 }

 // .logo-it--binance
 &--binance {
  @apply w-[19.224rem];
 }

 // .logo-it--coinbase
 &--coinbase {
  @apply w-[18.901rem];
 }

 // .logo-it--dropbox
 &--dropbox {
  @apply w-[19.225rem];
 }
}

.pagination {
 @apply flex
								justify-center
								gap-x-[1rem]
								pt-[4.01rem];

 // .pagination__it
 &__it {
  @apply block
									h-[1.501rem]
									w-[1.501rem]
									cursor-pointer
									rounded-[50%]
									bg-grad-gray-l-100;

  @apply transition-[box-shadow]
									duration-[0.16s]
									ease-[linear]
									will-change-[box-shadow];

  // .pagination__it--current
  &--current {
   @apply bg-grad-aqua-r-100;
  }

  // .pagination__it:hover
  &:hover {
   @apply shadow-[0px_0px_15px_1px_rgba(0,247,255,0.5)];
  }
 }
}

.s-700 {
 // .s-700__fix
 &__fix {
  @apply ~pt-[4.75rem]/[13.5rem]
									~pb-[2.1rem]/[5rem];
 }
}

.break-line {
 @apply block
								w-full
								text-0
								leading-0;

 border-top: solid rgba(255, 255, 255, 0.1) 1px;
}

.grid-700 {
 @apply flex
								items-center
								justify-between;

 @apply ~pb-[4rem]/[11rem];

 @media (max-width: $lgx) {
  @apply flex-col;
 }
}

.grid-700-v2 {
 @apply gap
								flex
								justify-between;
}

.box-700 {
 @apply rel
								z-[1]
								min-h-[39.9rem]
								w-full
								max-w-[37rem]
								overflow-hidden
								rounded-[2rem]
								px-[4.001rem]
								pb-[6.201rem]
								pt-[6.001rem];

 // .box-700__svg
 &__svg {
  @apply mb-[4.001rem]
							text-aqua-325;
 }

 // .box-700:after
 &:after {
  @apply absolute
									inset-0
									z-[-1]
									block
									rounded-[inherit]
									opacity-30
									content-[""];

  @apply transition-[opacity]
									duration-[0.16s]
									ease-[linear]
									will-change-[opacity];

  background-image: svg-load(
   ../../../../../public/assets/svg/gradients/gradient-start.svg
  );
 }

 // .box-700:hover
 &:hover {
  // .box-700:hover:after
  &:after {
   @apply opacity-100;
  }
 }
}

.img-info {
 @apply flex
								gap-x-[1.6rem];

 // .img-info__t
 &__t {
  @apply text-[2rem]
									font-400
									leading-[3.2rem]
							text-white;
 }

 // .img-info__d
 &__d {
  @apply text-[1.6rem]
									font-400
									leading-[2.4rem]
							text-white/50;
 }

 // .img-info__c
 &__c {
  // .img-info__c--1
  &--1 {
   @apply mt-[0.4rem]
										h-[4.8rem]
										w-[4.8rem]
										shrink-0
										grow-0
										rounded-[50%]
								bg-white/20;
  }

  // .img-info__c--2
  &--2 {
   @apply no-underline;
  }
 }
}

.s-500 {
 // .s-500__fix
 &__fix {
  @apply ~pt-[1.7rem]/[11.4rem]
									~pb-[3.35rem]/[6.7rem];
 }
}

.grid-500 {
 @apply gap-x
								grid
								grid-cols-[repeat(12,1fr)];

 grid-template-areas:
  "it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-4 it-4 it-4 it-4 it-4"
  "it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-4 it-4 it-4 it-4 it-4"
  "it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-4 it-4 it-4 it-4 it-4";

 @media (max-width: $lgx) {
  grid-template-areas:
   "it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1"
   "it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4"
   "it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2"
   "it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3";

  // .grid-500__it:nth-child(4)
  &__it:nth-child(4) {
   margin-bottom: 40px;
  }
 }

 // .grid-500__it:nth-child(1)
 &__it:nth-child(1) {
  grid-area: it-1;

  @apply pr-[2.02rem];
 }
 // .grid-500__it:nth-child(2)
 &__it:nth-child(2) {
  grid-area: it-2;

  @apply pr-[2.02rem];
 }
 // .grid-500__it:nth-child(3)
 &__it:nth-child(3) {
  grid-area: it-3;
 }
 // .grid-500__it:nth-child(4)
 &__it:nth-child(4) {
  grid-area: it-4;
 }
}

.group-500 {
 @apply flex
								flex-col
								gap-y-[2rem];
}

.box-500 {
 @apply rel
								z-[1]
								flex
								w-full
								gap-x-[2rem]
								overflow-hidden
								rounded-[1rem]
								pb-[2.0rem]
								pl-[2.0rem]
								pr-[1.0rem]
								pt-[1.6rem];

 // .box-500:after
 &:after {
  @apply absolute
									inset-0
									z-[-1]
									block
									h-full
									w-full
									opacity-30
									content-[""];

  @apply transition-[opacity]
									duration-[0.16s]
									ease-[linear]
									will-change-[opacity];

  background-image: svg-load(
   ../../../../../public/assets/svg/gradients/gradient-tab-2.svg
  );
 }

 // .box-500:hover
 &:hover {
  // .box-500:hover:after
  &:after {
   opacity: 1;
  }
 }

 @media (max-width: $mdxx) {
  // .box-500 align-items: center;
  // .box-500__t
  align-items: center;
  &__t {
   @apply pb-0;
  }
  // .box-500__d
  &__d {
   @apply hidden;
  }

  // .box-500__c
  &__c {
   // .box-500__c--1
   &--1 {
    @apply pt-0;
   }
  }
 }

 // .box-500__t
 &__t {
  @apply title-5-12-v1
									pb-[5px]
							text-white;
 }

 // .box-500__d
 &__d {
  @apply body-5-12-v1
							text-white/70;

  @apply max-w-full
									overflow-hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
 }

 // .box-500__c
 &__c {
  // .box-500__c--1
  &--1 {
   @apply pt-[0.8rem];
  }
  // .box-500__c--2
  &--2 {
   @apply no-underline;
  }
 }
}

.icon-box {
 @apply flex
								shrink-0
								grow-0
								items-center
								justify-center
								rounded-[50%]
								bg-green-225/10
								~h-[3.5rem]/[6.4rem]
								~w-[3.5rem]/[6.4rem];

 // .icon-box__img
 &__img {
  width: 47%;
  height: auto;
  filter: brightness(0) saturate(100%) invert(78%) sepia(64%) saturate(3030%)
   hue-rotate(134deg) brightness(106%) contrast(104%);
 }
}
