.s1{
  background:url(../../img/tmp/sections/1-xl.png) no-repeat center top;
  min-height:92px;
}

.s2{
  background:url(../../img/tmp/sections/2-xl.png) no-repeat center top;
  min-height:700px;
}

.s3{
  background:url(../../img/tmp/sections/3-xl.png) no-repeat center top;
  min-height:251px;
}

.s4{
  background:url(../../img/tmp/sections/4-xl.png) no-repeat center top;
  min-height:619px;
}

.s5{
  background:url(../../img/tmp/sections/5-xl.png) no-repeat center top;
  min-height:566px;
}

.s6{
  background:url(../../img/tmp/sections/6-xl.png) no-repeat center top;
  min-height:609px;
}

.s7{
  background:url(../../img/tmp/sections/7-xl.png) no-repeat center top;
  min-height:907px;
}

.s8{
  background:url(../../img/tmp/sections/8-xl.png) no-repeat center top;
  min-height:211px;
}

.s9{
  background:url(../../img/tmp/sections/9-xl.png) no-repeat center top;
  min-height:433px;
}

.s10{
  background:url(../../img/tmp/sections/10-xl.png) no-repeat center top;
  min-height:374px;
}

.s11{
  background:url(../../img/tmp/sections/11-xl.png) no-repeat center top;
  min-height:115px;
}

.px{
  padding-left:3rem;
  padding-right:3rem;
}

.pl{
  padding-left:3rem;
}

.pr{
  padding-right:3rem;
}

.mx{
  margin-left:3rem;
  margin-right:3rem;
}

.ml{
  margin-left:3rem;
}

.mr{
  margin-right:3rem;
}

.gap{
  gap:3rem;
}

.gap-x{
  -moz-column-gap:3rem;
       column-gap:3rem;
}

.gap-y{
  row-gap:3rem;
}

.main-title-v1{
  font-weight:700;
  font-size:clamp(4.8rem,4.8rem + 1.95vw,7.2rem);
  line-height:clamp(5.733rem,5.733rem + 2.331vw,8.6rem);
}

.title-1-1-v1{
  font-weight:600;
  font-weight:var(--font-weight-600);
  font-size:clamp(3.2rem,3.2rem + 1.3vw,4.8rem);
  line-height:clamp(3.933rem,3.933rem + 1.518vw,5.8rem);
}

.title-1-4-v1{
  font-size:2rem;
  font-weight:500;
  font-weight:var(--font-weight-500);
  line-height:2.4rem;
  letter-spacing:0.04rem;
}

.title-5-12-v1{
  font-weight:500;
  font-weight:var(--font-weight-500);
  font-size:clamp(2.133rem,2.133rem + 0.867vw,3.2rem);
  line-height:clamp(3.2rem,3.2rem + 1.3vw,4.8rem);
}

.title-1-3-v1{
  font-size:2.4rem;
  font-weight:600;
  font-weight:var(--font-weight-600);
  line-height:2.9rem;
  letter-spacing:0.048rem;
}

.title-1-6-v2{
  font-size:1.6rem;
  line-height:2.2rem;
}

.main-descr-v1{
  font-size:1.6rem;
  line-height:2.4rem;
}

.descr-1-1-v1{
  font-size:1.6rem;
  line-height:2.4rem;
}

.descr-5-12-v1{
  font-size:1.6rem;
  line-height:2.2rem;
}

.descr-1-3-v1{
  font-size:1.6rem;
  line-height:2.4rem;
}

.descr-1-4-v2{
  font-size:1.4rem;
  line-height:2.2rem;
}

.descr-1-4-v3{
  font-size:2rem;
  line-height:3rem;
}

.descr-1-4-v4{
  font-size:2.4rem;
  line-height:2.9rem;
}

.link-v1{
  font-size:1.6rem;
  font-weight:500;
  font-weight:var(--font-weight-500);
  line-height:2.4rem;
}

.link-v2{
  font-size:1.6rem;
  line-height:2.1rem;
}

.btn-label-v1{
  font-size:1.6rem;
  font-weight:600;
  font-weight:var(--font-weight-600);
  line-height:1.8rem;
}

.btn-label-v2{
  font-size:1.6rem;
  font-weight:500;
  font-weight:var(--font-weight-500);
  line-height:2.4rem;
}

.descr-1-2-v1{
  font-weight:400;
  font-weight:var(--font-weight-400);
  font-size:clamp(1.6rem,1.6rem + 0.33vw,2rem);
  line-height:clamp(2.6rem,2.6rem + 0.33vw,3rem);
}

:root{
  --font-weight-400:400;
  --font-weight-500:500;
  --font-weight-600:600;
  --opacity-70:0.7;
  --opacity-100:1;
  --font-size-62-5p:62.5%;
  --font-family-primary:Outfit, sans-serif;
  --max-width-xl:123rem;
}

html{
  text-decoration-line:none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  text-decoration-line:none;
}

select,
option,
a,
button,
input{
  font-family:Outfit, sans-serif;
  font-family:var(--font-family-primary);
  text-decoration-line:none;
}

*:focus-visible{
  outline:solid rgba(255, 0, 0, 1) 3px;
 }

body ::-moz-selection{
 }

body ::selection{
 }

body::-webkit-scrollbar{
  height:8px;
  width:8px;
}

body::-webkit-scrollbar-button{
  height:0px;
  width:0px;
}

body::-webkit-scrollbar-track{
  --tw-bg-opacity:1;
  background-color:rgba( 255 255 255   / 1);
}

@supports (color: rgba(0 0 0 / 0)){
body::-webkit-scrollbar-track{
    background-color:rgba( 255 255 255   / var(--tw-bg-opacity, 1));
  }
}

body::-webkit-scrollbar-track:vertical:hover{
  }

body::-webkit-scrollbar-thumb{
  cursor:pointer;
  --tw-bg-opacity:1;
  background-color:rgba( 8 151 123 / 1);
}

@supports (color: rgba(0 0 0 / 0)){
body::-webkit-scrollbar-thumb{
    background-color:rgba( 8 151 123 / var(--tw-bg-opacity, 1));
  }
}

body::-webkit-scrollbar-thumb:vertical:hover{
   background-color:#b8cd5d;
  }

body::-webkit-scrollbar-track-piece{
 }

body::-webkit-scrollbar-corner{
  height:0px;
  width:0px;
}

body::-webkit-resizer{
 }

.text-gradient{
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent;
}

.icons--fb{
  aspect-ratio:21/21;
  height:auto;
  width:2.1rem;
}

.icons--in{
  aspect-ratio:20.99/20.99;
  height:auto;
  width:2.0989999999999998rem;
}

.icons--inst{
  aspect-ratio:21/21;
  height:auto;
  width:2.1rem;
}

.icons--percent{
  aspect-ratio:9.19/9.19;
  height:auto;
  width:0.9189999999999999rem;
}

.icons--quote{
  aspect-ratio:42.6/27.6;
  height:auto;
  width:4.26rem;
}

.icons--secure{
  aspect-ratio:27.19/32;
  height:auto;
  width:2.7190000000000003rem;
}

.icons--shape-stamp{
  aspect-ratio:26.67/26.68;
  height:auto;
  width:2.6670000000000003rem;
}

.icons--star{
  aspect-ratio:32/30.4;
  height:auto;
  width:3.2rem;
}

.icons--transfer{
  aspect-ratio:32/32;
  height:auto;
  width:3.2rem;
}

.icons--tw{
  aspect-ratio:23/19;
  height:auto;
  width:2.3rem;
}

.shapes--shape-1-height{
  aspect-ratio:256/318;
  height:auto;
  width:25.6rem;
}

.shapes--shape-1{
  aspect-ratio:256/193;
  height:auto;
  width:25.6rem;
}

.shapes--shape-2-2{
  aspect-ratio:256/318;
  height:auto;
  width:25.6rem;
}

.shapes--shape-2{
  aspect-ratio:220/318;
  height:auto;
  width:22rem;
}

.shapes--shape-3-old{
  aspect-ratio:460/589;
  height:auto;
  width:46rem;
}

.shapes--shape-3{
  aspect-ratio:461/590;
  height:auto;
  width:46.1rem;
}

.shapes--shape-4{
  aspect-ratio:185/244;
  height:auto;
  width:18.5rem;
}

.shapes--shape-5{
  aspect-ratio:460.01/304.01;
  height:auto;
  width:46.001rem;
}

.shapes--shape-6{
  aspect-ratio:288.01/491.79;
  height:auto;
  width:28.801rem;
}

.shapes--shape-img{
  aspect-ratio:256/193;
  height:auto;
  width:25.6rem;
}

.fix-generate{
  max-width:123rem;
  max-width:var(--max-width-xl);
  padding-left:3rem;
  padding-right:3rem;
}

.fix{
  margin-left:auto;
  margin-right:auto;
  position:relative;
  left:0px;
  top:0px;
  max-width:123rem;
  max-width:var(--max-width-xl);
  padding-left:3rem;
  padding-right:3rem;
}

.block{
  display:block;
}

*, ::before, ::after{
 }

::backdrop{
 }

/* ! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com */

*,
::before,
::after{
  box-sizing:border-box;
  border-width:0;
  border-style:solid;
  border-color:#e5e7eb;
}

::before,
::after{
}

html,
:host{
  line-height:1.5;
  -webkit-text-size-adjust:100%;
  -moz-tab-size:4;
  -o-tab-size:4;
     tab-size:4;
  font-family:ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings:normal;
  font-variation-settings:normal;
  -webkit-tap-highlight-color:transparent;
}

body{
  margin:0;
  line-height:inherit;
}

hr{
  height:0;
  color:inherit;
  border-top-width:1px;
}

abbr:where([title]){
  -webkit-text-decoration:underline dotted;
          text-decoration:underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-size:inherit;
  font-weight:inherit;
}

a{
  color:inherit;
  text-decoration:inherit;
}

b,
strong{
  font-weight:bolder;
}

code,
kbd,
samp,
pre{
  font-family:ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-feature-settings:normal;
  font-variation-settings:normal;
  font-size:1em;
}

small{
  font-size:80%;
}

sub,
sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sub{
  bottom:-0.25em;
}

sup{
  top:-0.5em;
}

table{
  text-indent:0;
  border-color:inherit;
  border-collapse:collapse;
}

button,
input,
optgroup,
select,
textarea{
  font-family:inherit;
  font-feature-settings:inherit;
  font-variation-settings:inherit;
  font-size:100%;
  font-weight:inherit;
  line-height:inherit;
  letter-spacing:inherit;
  color:inherit;
  margin:0;
  padding:0;
}

button,
select{
  text-transform:none;
}

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']){
  -webkit-appearance:button;
  background-color:transparent;
  background-image:none;
}

:-moz-focusring{
  outline:auto;
}

:-moz-ui-invalid{
  box-shadow:none;
}

progress{
  vertical-align:baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button{
  height:auto;
}

[type='search']{
  -webkit-appearance:textfield;
  outline-offset:-2px;
}

::-webkit-search-decoration{
  -webkit-appearance:none;
}

::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit;
}

summary{
  display:list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre{
  margin:0;
}

fieldset{
  margin:0;
  padding:0;
}

legend{
  padding:0;
}

ol,
ul,
menu{
  list-style:none;
  margin:0;
  padding:0;
}

dialog{
  padding:0;
}

textarea{
  resize:vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder{
  opacity:1;
  color:#9ca3af;
}

input::placeholder,
textarea::placeholder{
  opacity:1;
  color:#9ca3af;
}

button,
[role="button"]{
  cursor:pointer;
}

:disabled{
  cursor:default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object{
  display:block;
  vertical-align:middle;
}

img,
video{
  max-width:100%;
  height:auto;
}

[hidden]:where(:not([hidden="until-found"])){
  display:none;
}

.gap,
.gap-x,
.gap-y{
  transition-property:column-gap,row-gap;
  transition-property:column-gap,row-gap,-moz-column-gap;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:150ms;
  transition-duration:0.16s,0.16s;
  transition-timing-function:linear,linear;
  will-change:column-gap,row-gap;
}

:root{
  cursor:default;
  font-family:Outfit, sans-serif;
  font-family:var(--font-family-primary);
  font-size:62.5%;
  font-size:var(--font-size-62-5p);
  font-weight:400;
  font-weight:var(--font-weight-400);
  letter-spacing:0em;
}

html,
body{
  --tw-bg-opacity:1;
  background-color:rgba( 0 4 15 / 1);
}

@supports (color: rgba(0 0 0 / 0)){
html,
body{
    background-color:rgba( 0 4 15 / var(--tw-bg-opacity, 1));
  }
}

.main-header__fix{
  display:flex;
  justify-content:space-between;
  padding-top:3rem;
  padding-bottom:3rem;
  vertical-align:middle;
}

.nav__ul{
  display:flex;
}

.nav__li{
  padding-left:clamp(1.2rem,1.2rem + 0.81vw,2.2rem);
  padding-right:clamp(1.2rem,1.2rem + 0.81vw,2.2rem);
}

.nav__li--current .nav__a{
  color:rgba( 255 255 255   / 1);
}

@supports (color: rgba(0 0 0 / 0)){
.nav__li--current .nav__a{
    color:rgba( 255 255 255   / var(--opacity-100));
  }
}

.nav__a{
  font-size:1.6rem;
  font-weight:400;
  color:rgba( 255 255 255   / 0.7);
}

@supports (color: rgba(0 0 0 / 0)){
.nav__a{
    color:rgba( 255 255 255   / var(--opacity-70));
  }
}

@media (max-width: 76.875rem){

.s1{
    background:url(../../img/tmp/sections/1-sm.png) no-repeat center top;
    min-height:64px
}

.s2{
    background:url(../../img/tmp/sections/2-sm.png) no-repeat center top;
    min-height:991px
}

.s3{
    background:url(../../img/tmp/sections/3-sm.png) no-repeat center top;
    min-height:413px
}

.s4{
    background:url(../../img/tmp/sections/4-sm.png) no-repeat center top;
    min-height:793px
}

.s5{
    background:url(../../img/tmp/sections/5-sm.png) no-repeat center top;
    min-height:825px
}

.s6{
    background:url(../../img/tmp/sections/6-sm.png) no-repeat center top;
    min-height:723px
}

.s7{
    background:url(../../img/tmp/sections/7-sm.png) no-repeat center top;
    min-height:864px
}

.s8{
    background:url(../../img/tmp/sections/8-sm.png) no-repeat center top;
    min-height:396px
}

.s9{
    background:url(../../img/tmp/sections/9-sm.png) no-repeat center top;
    min-height:529px
}

.s10{
    background:url(../../img/tmp/sections/10-sm.png) no-repeat center top;
    min-height:881px
}

.s11{
    background:url(../../img/tmp/sections/11-sm.png) no-repeat center top;
    min-height:168px
}

.px{
    padding-left:3rem;
    padding-right:3rem;
  }

.pl{
    padding-left:3rem;
  }

.pr{
    padding-right:3rem;
  }

.mx{
    margin-left:3rem;
    margin-right:3rem;
  }

.ml{
    margin-left:3rem;
  }

.mr{
    margin-right:3rem;
  }

.gap{
    gap:2.2rem;
  }

.gap-x{
    -moz-column-gap:2.2rem;
         column-gap:2.2rem;
  }

.gap-y{
    row-gap:2.2rem;
  }

.fix-generate{
    padding-left:3rem;
    padding-right:3rem;
  }

.fix{
    padding-left:3rem;
    padding-right:3rem;
  }
}

@media (max-width: 70.625rem){

  .px{
    padding-left:2.5rem;
    padding-right:2.5rem;
  }

  .pl{
    padding-left:2.5rem;
  }

  .pr{
    padding-right:2.5rem;
  }

  .mx{
    margin-left:2.5rem;
    margin-right:2.5rem;
  }

  .ml{
    margin-left:2.5rem;
  }

  .mr{
    margin-right:2.5rem;
  }

  .gap{
    gap:2.2rem;
  }

  .gap-x{
    -moz-column-gap:2.2rem;
         column-gap:2.2rem;
  }

  .gap-y{
    row-gap:2.2rem;
  }

  .fix-generate{
    padding-left:2.5rem;
    padding-right:2.5rem;
  }

  .fix{
    padding-left:2.5rem;
    padding-right:2.5rem;
  }
}

@media (max-width: 64rem){

  .px{
    padding-left:2.4rem;
    padding-right:2.4rem;
  }

  .pl{
    padding-left:2.4rem;
  }

  .pr{
    padding-right:2.4rem;
  }

  .mx{
    margin-left:2.4rem;
    margin-right:2.4rem;
  }

  .ml{
    margin-left:2.4rem;
  }

  .mr{
    margin-right:2.4rem;
  }

  .gap{
    gap:2.4rem;
  }

  .gap-x{
    -moz-column-gap:2.4rem;
         column-gap:2.4rem;
  }

  .gap-y{
    row-gap:2.4rem;
  }

  .fix-generate{
    padding-left:2.4rem;
    padding-right:2.4rem;
  }

  .fix{
    padding-left:2.4rem;
    padding-right:2.4rem;
  }
}

@media (max-width: 57.75rem){

  .px{
    padding-left:2.2rem;
    padding-right:2.2rem;
  }

  .pl{
    padding-left:2.2rem;
  }

  .pr{
    padding-right:2.2rem;
  }

  .mx{
    margin-left:2.2rem;
    margin-right:2.2rem;
  }

  .ml{
    margin-left:2.2rem;
  }

  .mr{
    margin-right:2.2rem;
  }

  .gap{
    gap:2.4rem;
  }

  .gap-x{
    -moz-column-gap:2.4rem;
         column-gap:2.4rem;
  }

  .gap-y{
    row-gap:2.4rem;
  }

  .fix-generate{
    padding-left:2.2rem;
    padding-right:2.2rem;
  }

  .fix{
    padding-left:2.2rem;
    padding-right:2.2rem;
  }
}

@media (max-width: 51.5rem){

  .px{
    padding-left:2.2rem;
    padding-right:2.2rem;
  }

  .pl{
    padding-left:2.2rem;
  }

  .pr{
    padding-right:2.2rem;
  }

  .mx{
    margin-left:2.2rem;
    margin-right:2.2rem;
  }

  .ml{
    margin-left:2.2rem;
  }

  .mr{
    margin-right:2.2rem;
  }

  .gap{
    gap:2rem;
  }

  .gap-x{
    -moz-column-gap:2rem;
         column-gap:2rem;
  }

  .gap-y{
    row-gap:2rem;
  }

  .fix-generate{
    padding-left:2.2rem;
    padding-right:2.2rem;
  }

  .fix{
    padding-left:2.2rem;
    padding-right:2.2rem;
  }
}

@media (max-width: 48rem){

  .px{
    padding-left:2rem;
    padding-right:2rem;
  }

  .pl{
    padding-left:2rem;
  }

  .pr{
    padding-right:2rem;
  }

  .mx{
    margin-left:2rem;
    margin-right:2rem;
  }

  .ml{
    margin-left:2rem;
  }

  .mr{
    margin-right:2rem;
  }

  .gap{
    gap:2rem;
  }

  .gap-x{
    -moz-column-gap:2rem;
         column-gap:2rem;
  }

  .gap-y{
    row-gap:2rem;
  }

  .fix-generate{
    padding-left:2rem;
    padding-right:2rem;
  }

  .fix{
    padding-left:2rem;
    padding-right:2rem;
  }
}

@media (max-width: 41.75rem){

  .px{
    padding-left:2rem;
    padding-right:2rem;
  }

  .pl{
    padding-left:2rem;
  }

  .pr{
    padding-right:2rem;
  }

  .mx{
    margin-left:2rem;
    margin-right:2rem;
  }

  .ml{
    margin-left:2rem;
  }

  .mr{
    margin-right:2rem;
  }

  .gap{
    gap:1.2rem;
  }

  .gap-x{
    -moz-column-gap:1.2rem;
         column-gap:1.2rem;
  }

  .gap-y{
    row-gap:1.2rem;
  }

  .fix-generate{
    padding-left:2rem;
    padding-right:2rem;
  }

  .fix{
    padding-left:2rem;
    padding-right:2rem;
  }
}

@media (max-width: 35.5rem){

  .px{
    padding-left:1.8rem;
    padding-right:1.8rem;
  }

  .pl{
    padding-left:1.8rem;
  }

  .pr{
    padding-right:1.8rem;
  }

  .mx{
    margin-left:1.8rem;
    margin-right:1.8rem;
  }

  .ml{
    margin-left:1.8rem;
  }

  .mr{
    margin-right:1.8rem;
  }

  .gap{
    gap:1.2rem;
  }

  .gap-x{
    -moz-column-gap:1.2rem;
         column-gap:1.2rem;
  }

  .gap-y{
    row-gap:1.2rem;
  }

  .fix-generate{
    padding-left:1.8rem;
    padding-right:1.8rem;
  }

  .fix{
    padding-left:1.8rem;
    padding-right:1.8rem;
  }
}

@media (max-width: 29.25rem){

  .px{
    padding-left:1.6rem;
    padding-right:1.6rem;
  }

  .pl{
    padding-left:1.6rem;
  }

  .pr{
    padding-right:1.6rem;
  }

  .mx{
    margin-left:1.6rem;
    margin-right:1.6rem;
  }

  .ml{
    margin-left:1.6rem;
  }

  .mr{
    margin-right:1.6rem;
  }

  .gap{
    gap:1.2rem;
  }

  .gap-x{
    -moz-column-gap:1.2rem;
         column-gap:1.2rem;
  }

  .gap-y{
    row-gap:1.2rem;
  }

  .fix-generate{
    padding-left:1.6rem;
    padding-right:1.6rem;
  }

  .fix{
    padding-left:1.6rem;
    padding-right:1.6rem;
  }
}

@media (max-width: 23rem){

  .px{
    padding-left:1.6rem;
    padding-right:1.6rem;
  }

  .pl{
    padding-left:1.6rem;
  }

  .pr{
    padding-right:1.6rem;
  }

  .mx{
    margin-left:1.6rem;
    margin-right:1.6rem;
  }

  .ml{
    margin-left:1.6rem;
  }

  .mr{
    margin-right:1.6rem;
  }

  .gap{
    gap:1.2rem;
  }

  .gap-x{
    -moz-column-gap:1.2rem;
         column-gap:1.2rem;
  }

  .gap-y{
    row-gap:1.2rem;
  }

  .fix-generate{
    padding-left:1.6rem;
    padding-right:1.6rem;
  }

  .fix{
    padding-left:1.6rem;
    padding-right:1.6rem;
  }
}

@media (max-width: 20rem){

  .descr-1-2-v1{
    font-size:1.6rem;
    line-height:2.6rem;
  }
}
