.icons {
  &--fb {
    @apply aspect-[21/21] w-[2.1rem] h-auto;
  }

  &--in {
    @apply aspect-[20.99/20.99] w-[2.0989999999999998rem] h-auto;
  }

  &--inst {
    @apply aspect-[21/21] w-[2.1rem] h-auto;
  }

  &--percent {
    @apply aspect-[9.19/9.19] w-[0.9189999999999999rem] h-auto;
  }

  &--quote {
    @apply aspect-[42.6/27.6] w-[4.26rem] h-auto;
  }

  &--secure {
    @apply aspect-[27.19/32] w-[2.7190000000000003rem] h-auto;
  }

  &--shape-stamp {
    @apply aspect-[26.67/26.68] w-[2.6670000000000003rem] h-auto;
  }

  &--star {
    @apply aspect-[32/30.4] w-[3.2rem] h-auto;
  }

  &--transfer {
    @apply aspect-[32/32] w-[3.2rem] h-auto;
  }

  &--tw {
    @apply aspect-[23/19] w-[2.3rem] h-auto;
  }
}
